# Assignment 1

In [1]:
employees = []

In [2]:
for i in range(3):
    name = input('Please enter the name: ')
    age = int(input('Please enter the age: '))
    work = input('Please enter the work: ')
    skills = input('Please enter the skills separated by coma: ')
    salary = int(input('Please enter the salary: '))
    
    title = input('Enter title: ')    
    major = input('Enter major: ')
    completition_date = input('Enter completion date: ')
    employees.append({'name': name, 'age': age, 'work': work, 'skills': skills.split(','),
                       'degree': {'title': title, 'major': major, 'completionDate': completition_date},'salary': salary})

Please enter the name:  Faisal
Please enter the age:  24
Please enter the work:  A.I
Please enter the skills separated by coma:  Python, Cloud, HTML
Please enter the salary:  25000
Enter title:  BS
Enter major:  Computer Science
Enter completion date:  Jun 2019
Please enter the name:  Javed
Please enter the age:  25
Please enter the work:  Data Science
Please enter the skills separated by coma:  Data Science, Java
Please enter the salary:  30000
Enter title:  DS
Enter major:  Data Science
Enter completion date:  Jun 2018
Please enter the name:  Aqib
Please enter the age:  26
Please enter the work:  Developer
Please enter the skills separated by coma:  PHP, Javascript
Please enter the salary:  40000
Enter title:  Coder
Enter major:  Programing
Enter completion date:  Jun 2017

In [3]:
print(employees)

[{'name': 'Faisal', 'age': 24, 'work': 'A.I', 'skills': ['Python', ' Cloud', ' HTML'], 'degree': {'title': 'BS', 'major': 'Computer Science', 'completionDate': 'Jun 2019'}, 'salary': 25000}, {'name': 'Javed', 'age': 25, 'work': 'Data Science', 'skills': ['Data Science', ' Java'], 'degree': {'title': 'DS', 'major': 'Data Science', 'completionDate': 'Jun 2018'}, 'salary': 30000}, {'name': 'Aqib', 'age': 26, 'work': 'Developer', 'skills': ['PHP', ' Javascript'], 'degree': {'title': 'Coder', 'major': 'Programing', 'completionDate': 'Jun 2017'}, 'salary': 40000}]

# Assignment 2

In [8]:
begin = int(input('Enter beginning point'))
end = int(input('Enter end point'))
for i in range(begin, end+1):
    for j in range(1, 11):
        print(j, 'x', i, '=', j*i)
    print()

Enter beginning point 5
Enter end point 10

1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60

1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70

1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80

1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90

1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100

## Second output

In [14]:
begin = int(input('Enter beginning point'))
end = int(input('Enter end point'))

for j in range(1, 11):
    for i in range(begin, end+1):
        print(j, 'x', i, '=', j*i, end='\t')
    print()

Enter beginning point 5
Enter end point 10

1 x 5 = 5	1 x 6 = 6	1 x 7 = 7	1 x 8 = 8	1 x 9 = 9	1 x 10 = 10
2 x 5 = 10	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18	2 x 10 = 20
3 x 5 = 15	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27	3 x 10 = 30
4 x 5 = 20	4 x 6 = 24	4 x 7 = 28	4 x 8 = 32	4 x 9 = 36	4 x 10 = 40
5 x 5 = 25	5 x 6 = 30	5 x 7 = 35	5 x 8 = 40	5 x 9 = 45	5 x 10 = 50
6 x 5 = 30	6 x 6 = 36	6 x 7 = 42	6 x 8 = 48	6 x 9 = 54	6 x 10 = 60
7 x 5 = 35	7 x 6 = 42	7 x 7 = 49	7 x 8 = 56	7 x 9 = 63	7 x 10 = 70
8 x 5 = 40	8 x 6 = 48	8 x 7 = 56	8 x 8 = 64	8 x 9 = 72	8 x 10 = 80
9 x 5 = 45	9 x 6 = 54	9 x 7 = 63	9 x 8 = 72	9 x 9 = 81	9 x 10 = 90
10 x 5 = 50	10 x 6 = 60	10 x 7 = 70	10 x 8 = 80	10 x 9 = 90	10 x 10 = 100